<div class='app-background'>
  <%= render "shared/navbar" %>
  <div class='category-user is-size-5'>
    Welcome <%= @user.name %>!
  </div>

  <% @categories.each do |category| %>
    <%= render partial: "shared/category", locals: { category: category } %>
  <% end %>
  <div class='category-button has-text-centered'>
    <%= link_to "Add Category", new_category_path, class: "button is-success " %>
  </div>
</div>

