<div class='app-background'>
  <%= render "shared/navbar" %>
  <div class='category-user is-size-4 has-text-centered'>
    Categories
  </div>

  <% @categories.each do |category| %>
    <%= render partial: "shared/category", locals: { category: category } %>
  <% end %>
  <div class='button-container has-text-centered'>
    <%= link_to "Add Category", new_category_path, class: "button is-success is-fullwidth is-size-4" %>
  </div>
</div>

